/* 
MOBILE 375px
DESKTOP 1440px

paragraph 14px

font family:    Montserrat 500 700
                Fraunces 700

pure white - #FFFFFF 
cream - #F2EAE2
aurometal saurus - #6C7289
deep aquamarine - #3D8168
deep aquamarine (hover) -  #1A4032
gunmetal - #1C232B
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F2EAE2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 343px;
    border-radius: 10px;
    background-color: #fff;
}

.card-image {
    width: 343px;
    border-radius: 10px 10px 0 0;
}

.card-image2 {
    display: none;
}

.description {
    margin: 24px;
}

h6 {
    font-size: 12px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #6C7289;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h1 {
    font-family: 'Fraunces', serif;
    color: #1C232B;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.text-card {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #6C7289;
    font-weight: 500;
    line-height: 23px;
    margin-top: 5px;
}

.price {
    display: flex;
    align-items: center;
    gap: 19px;
    margin-top: 24px;
}

.price-green {
    color: #3D8168;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Fraunces', serif;
}

.price-grey {
    color: #6C7289;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

button {
    width: 295px;
    height: 48px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    border: none;

    border-radius: 8px;
    background-color: #3D8168;
    color: #FFF;
    margin-top: 16px;
}

.icon {
    width: 16px;
}

.add-cart {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

button:hover {
    background-color: #1A4032;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

@media only screen and (min-width: 700px) {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 600px;
      height: 450px;
    }

    h6 {
        margin-bottom: 16px;
    }

    h1 {
        margin-bottom: 16px;
    }

    .card-image {
        display: none;
    }

    .card-image2 {
        display: block;
        width: 300px;
        height: 450px;
        border-radius: 10px 0 0 10px;
    }

    .description {
        width: 240px;
        margin-left: 36px;
    }

    button {
        width: 240px;
    }
  }